/*  your css code here. If applicable */
*{
	margin:4px;
	padding:0;
	font-family: 'Roboto', sans-serif;
}

body{
	background-color: rgb(204, 204, 204)
	color: #f1f1f1;
}

h1, h2{
	text-align: center;
}

.h2_now_playing{
	font-size: 17px;
	padding: 9px 3px;
	margin-bottom: 12px;
}

.div_songs_playlist{
	color: aliceblue;
	padding: 20px;
	border: 0.5px solid #ebebeb;
	border-radius: 3px;
	margin: 18px;
}

.div_songs_playlist a{
	text-decoration-line: none;
	color: cadetblue;
}

.div_songs_playlist ul li{
	list-style: none;
	margin-bottom: 6px;
}

.div_video_player {
	display: block;
	margin: 0 auto;
	padding: 30px 12px;
	width: 600px;
	height: 400px;
	background-color: rgb(255, 255, 255);
	
}

.div_video_player video{
	width: stretch;
	height: stretch;
	border-radius: 20px;
}

.h2_mp3_songs{
	padding: 8px 2px;
}